table {
    width: 100%;
    border-radius: 200px;
}

/* */
table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    border-collapse: collapse;

}

tr:first-child>:first-letter {
<<<<<<< HEAD
    font-size: 2em;
=======
    font-size: 2rem;
>>>>>>> d163ea66d4f81ce4adf88beb09279b13d10c5b62
}

td:last-child:hover,
th:last-child:hover {
<<<<<<< HEAD
    font-size: 2em;
=======
    font-size: 2rem;
>>>>>>> d163ea66d4f81ce4adf88beb09279b13d10c5b62
}

a {
    text-decoration: none;
    color: green;
}

input:required {
    border: 1px solid red;
<<<<<<< HEAD
    padding: 5px;
=======
    margin: 5px;
>>>>>>> d163ea66d4f81ce4adf88beb09279b13d10c5b62
}

label::after {
    content: '*';
    color: red;

}

a:visited {
    color: red;
}

h2 {
    text-align: center;
<<<<<<< HEAD
    margin: 0px;
=======
>>>>>>> d163ea66d4f81ce4adf88beb09279b13d10c5b62
}

td:first-child {
    background-color: green;
}

tr:nth-child(4)>th {
    background-color: yellow;
}