.nav-bar{
    width: 100%;
    height: 100px;
    background-color: red;
}

.form-cont{
    width: 100%;
    height: 150px;
}

input[type=text],input[type=list]{
    width: 250px;
    height: 35px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 3px;
    border: 1px solid #000000;
}

.form1{
    flex-direction: row;
    display: inline-flex;
    gap: 40px;
    
}

.form2{
    display: inline-flex;
    margin-top: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.sort{
    width: 70%;
    display: inline-flex;
    justify-content: flex-end;
}

select{
width: 170px;
}

.men1{
    width: 100%;
    background-color: green;
    height: 150px;
    margin-bottom: 20px;
}

.men2{
    width: 100%;
    background-color: green;
    height: 150px;
}